@model IEnumerable<ExamenMusicaNetCoreMVC.Models.Albume>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<a asp-action="index" asp-controller="Albumes" class="p-3">Index</a><a asp-action="indexAlbum" asp-controller="Albumes" class="p-3">IndexFiltro</a>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Busca por titulo: <input id="texto" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Vuelve a la lista entera</a>
        </p>
    </div>
</form>
<table class="table" id="tableData">
    <thead>
        <tr>
            <th>
                <@* a asp-action="Index" asp-route-sortOrder="@ViewData["OrdenFechaNO"]"> *@@Html.DisplayNameFor(model => model.Fecha)@* </a>*@
            </th>
            <th>
                @* <a asp-action="Index" asp-route-sortOrder="@ViewData["OrdenGeneroNO"]"> *@@Html.DisplayNameFor(model => model.Genero)@* </a>*@
            </th>
            <th>
                @* <a asp-action="Index" asp-route-sortOrder="@ViewData["OrdenTituloNO"]"> *@@Html.DisplayNameFor(model => model.Titulo)@* </a>*@
            </th>
            <th>
                @* <a asp-action="Index" asp-route-sortOrder="@ViewData["OrdenGrupoNO"]"> *@@Html.DisplayNameFor(model => model.Grupos)@* </a>*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupos.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    <ul class="pagination pagination-lg pager" id="myPager"></ul>
</table>

