@model IList<ExamenMusicaNetCoreMVC.ViewModels.ConciertoGroupByGrupos>

@{
    ViewData["Title"] = "ConciertosPorGrupos";
}

<h1>ConciertosPorGrupos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="ConciertosPorGrupos" method="get">
    <div class="form-actions no-color">
        <p>
            Busca por Nombre: <input id="texto" type="text" name="SearchString"  />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Vuelve a la lista entera</a>
        </p>
    </div>
</form>
<div class="d-flex justify-content-around flex-wrap">
    @foreach (var item in Model)
    {
        <form asp-action="ConciertosPorGrupos" asp-controller="Grupoes">
            <input type="submit" style="height: 40px; width: 150px; background-color: cornflowerblue;color:white;" value="@(item.NombreGrupo)" />
            <input type="hidden" name="grupo" value="@(item.NombreGrupo == ViewBag.Grupo ? "" : item.NombreGrupo)"/>
        </form>
    }
</div>
<table class="table" id="tableData">
    <thead>
        <tr>
            <th>
                Nombre Grupo
            </th>
            <th>
                Id
            </th>
            <th>
                Fecha
            </th>
            <th>
                Genero
            </th>
            <th>
                Lugar
            </th>
            <th>
                Titulo
            </th>
            <th>
                Precio
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            int tamano = ViewBag.Size;
            int pagina = ViewBag.Page;
            int count = (ViewBag.Page - 1) * tamano;
            int totalElementos = 0;
            string elGrupo = "";
            Console.WriteLine("Tamaño: " + tamano + ", pagina: " + pagina + ", contador: " + count + ", cota superior: " + tamano * (pagina) + ", grupo: " + ViewBag.Grupo);
            @foreach (var linea in item.ListaConciertos.Result)
            {
                @if ((linea.Grupo == null ? "" : linea.Grupo).Equals(ViewBag.Grupo))
                {
                    elGrupo = linea.Grupo;
                    totalElementos++;
                }
                @if (((linea.Grupo == null ? "" : linea.Grupo).Equals(ViewBag.Grupo) && totalElementos < tamano * (pagina) && count < totalElementos))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => linea.Grupo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => linea.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => linea.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => linea.Genero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => linea.Lugar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => linea.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => linea.Precio)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new
                                {
                                    /* id=item.PrimaryKey */
                                }) |
                            @Html.ActionLink("Details", "Details", new
                                {
                                    /* id=item.PrimaryKey */
                                }) |
                            @Html.ActionLink("Delete", "Delete", new
                                {
                                    /* id=item.PrimaryKey */
                                })
                        </td>
                    </tr>
                }
            }
            @if (ViewBag.Grupo.Equals(elGrupo)) ViewBag.Total = (totalElementos / ViewBag.size) + 1;
        }
    </tbody>
</table>
<div class="d-flex">
    Pagina
    <form asp-action="ConciertosPorGrupos" asp-controller="Grupoes" class="m-3">
        <input type="hidden" value="@((ViewBag.Page != 1 ? @ViewBag.Page - 1 : 1))" name="page" />
        <input type="hidden" name="size" value="@(@ViewBag.Size)" />
        <input type="hidden" name="total" value="@(@ViewBag.Total)" />
        <input type="hidden" name="grupo" value="@(@ViewBag.Grupo)" />
        <input type="submit" asp-action="ConciertosPorGrupos" asp-controller="Grupoes" name="page" class="p-3" value="@(ViewBag.Page != 1 ? ViewBag.Page - 1 : 1)">
    </form>

    <form asp-action="ConciertosPorGrupos" asp-controller="Grupoes" class="m-3">
        <input type="hidden" value="@(ViewBag.Page + 1)" name="page" />
        <input type="hidden" name="size" value="@(@ViewBag.Size)" />
        <input type="hidden" name="total" value="@(@ViewBag.Total)" />
        <input type="hidden" name="grupo" value="@(@ViewBag.Grupo)" />
        <input type="submit" asp-action="ConciertosPorGrupos" asp-controller="Grupoes" name="page" class="p-3" value="@(ViewBag.Page + 1)">
    </form>
    <form asp-action="ConciertosPorGrupos" asp-controller="Grupoes" class="m-3">
        <input type="number" name="page" />
        <input type="hidden" name="size" value="@(@ViewBag.Size)" />
        <input type="hidden" name="total" value="@(@ViewBag.Total)" />
        <input type="hidden" name="grupo" value="@(@ViewBag.Grupo)" />
        <input type="submit" asp-action="ConciertosPorGrupos" asp-controller="Grupoes" name="page" class="p-3" value="Enviar pagina">
    </form>
    <form asp-action="ConciertosPorGrupos" asp-controller="Grupoes" class="m-3">
        Escribe la cantidad de filas por pagina: <input type="number" name="size" value="@(ViewBag.Size)" />
        <input type="hidden" name="total" value="@(@ViewBag.Total)" />
        <input type="hidden" name="grupo" value="@(@ViewBag.Grupo)" />
        <input type="hidden" name="page" value="@(@ViewBag.Page)" />
        <input type="submit" asp-action="ConciertosPorGrupos" asp-controller="Grupoes" name="size" class="p-3" value="Enviar pagina">
    </form>
</div>
<input type="hidden" value="9999999" id="numFilas" />
Total paginas: @(ViewBag.page) de @(ViewBag.Total)
